<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravisDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF3807F91C522C3100B751DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF38080F1C522C3100B751DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF38081A1C522C3100B751DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
